# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- How to make tables, ordered and unordered lists

Some of the popular languages that Data Scientists use are:
1. Python
1. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
1. TensorFlow
1. PySpark

| Data Science Tools|
|:--------:|
|  Spark  |
|  Panda  |
|  Weka  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Fahad Muhammad